<h1 class="app-page-title">Editar Proyectos</h1>
<hr class="mb-4">
<div class="row g-4 settings-section">
    <div class="col-12 col-md-4">
        <h3 class="section-title">Datos del proyecto</h3>
        <div class="section-intro">Estos son los datos requeridos para comprender el proyecto</div>
    </div>
    <div class="col-12 col-md-8">
        <div class="app-card app-card-settings shadow-sm p-4">

            <div class="app-card-body">
                <form [formGroup]="form" (ngSubmit)="submit()" class="settings-form">
                    <div class="mb-3">
                        <label for="setting-input-1" class="form-label">Business Name<span class="ms-2"
                                data-container="body" data-bs-toggle="popover" data-trigger="hover" data-placement="top"
                                data-content="This is a Bootstrap popover example. You can use popover to provide extra info."><svg
                                    width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path
                                        d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                    <circle cx="8" cy="4.5" r="1" />
                                </svg></span></label>
                        <label for="name">Nombre:</label>
                        <input formControlName="name" id="name" type="text" [(ngModel)]="project.name"
                            class="form-control">
                        <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                            <div *ngIf="f.name.errors?.required">El Nombre es requerido.</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="setting-input-2" class="form-label">Introduccion</label>
                        <textarea formControlName="introduction" id="introduction" type="text"
                            [(ngModel)]="project.introduction" class="form-control">
                        </textarea>
                        <div *ngIf="f.introduction.touched && f.introduction.invalid" class="alert alert-danger">
                            <div *ngIf="f.introduction.errors?.required">Introduccion requerido.</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="setting-input-3" class="form-label">Costo</label>
                        <input formControlName="cost" id="cost" type="number" [(ngModel)]="project.cost" class="form-control">
                        <div *ngIf="f.cost.touched && f.cost.invalid" class="alert alert-danger">
                            <div *ngIf="f.cost.errors?.required">Costo es requerido.</div>
                        </div>
                    </div>
                    <!-- <div class="mb-3">
                        <label for="setting-input-3" class="form-label">Business Email Address</label>
                        <input type="email" class="form-control" id="setting-input-3" value="hello@companywebsite.com">
                    </div> -->
                    <a href="#" routerLink="/project/index" class="btn app-btn-secondary  mx-1 ">Cancelar</a>
                    <button type="submit" class="btn app-btn-primary" [disabled]="!form.valid">Actualizar</button>
                </form>
            </div>
            <!--//app-card-body-->

        </div>
        <!--//app-card-->
    </div>
</div>
<!--//row-->

<!-- 
<div class="container">
    <h1>Editar Proyectos</h1>



    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="name">Name:</label>
            <input formControlName="name" id="name" type="text" [(ngModel)]="project.name" class="form-control">
            <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                <div *ngIf="f.name.errors?.required">Title is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="introduction">Intrucciones</label>
            <textarea formControlName="introduction" id="introduction" type="text" [(ngModel)]="project.introduction"
                class="form-control">
            </textarea>
            <div *ngIf="f.introduction.touched && f.introduction.invalid" class="alert alert-danger">
                <div *ngIf="f.introduction.errors?.required">Intruciones requerido.</div>
            </div>
        </div>


        <div class="form-group">
            <label for="cost">Costo:</label>
            <input formControlName="cost" id="cost" type="number" [(ngModel)]="project.cost" class="form-control">
            <div *ngIf="f.cost.touched && f.cost.invalid" class="alert alert-danger">
                <div *ngIf="f.cost.errors?.required">Costo is required.</div>
            </div>
        </div>


        <div class="col-12 gap-3 m-2">
            <a href="#" routerLink="/project/index" class="btn btn-primary  ">Cancelar</a>
            <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Actualizar</button>
        </div>

    </form>
</div> -->