<div class="container">
    <h1>View Post</h1>
  
    <a href="#" routerLink="/project/index" class="btn btn-primary">Back</a>
   
    <div>
        <strong>ID:</strong>
        <p>{{ project.id }}</p>
    </div>
   
    <div>
        <strong>Nombre:</strong>
        <p>{{ project.name }}</p>
    </div>
   
    <div>
        <strong>Instrucciones:</strong>
        <p>{{ project.introduction }}</p>
    </div>

    <div>
        <strong>Costo:</strong>
        <p>{{ project.cost }}</p>
    </div>
   
</div>